body{
    background-color: #f1f5f9;
    color: #1e293b;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 26px;
}
/* A lista que vamos percorrer (mostrada no topo) */

.lista-orifinal {
    font-size: 18px;
    margin-bottom: 20px;
}

.caixa{
    background-color: white;
    border: 1px solid #94a3b8;
    border-radius: 8px;
    padding: 15px;
    margin: 10px auto;
    max-width: 400px;
}

.caixa h2{
    font-size: 18px;
    color: #6366f1;
}
/* Lista de nome dentro de cada caixa */

ul{
    list-style: none;
    padding: 0;
    font-size: 16px;
}

li{
    padding: 4px;
}